.shoppingCartPage {
  padding: 34px 0 90px;
  border: 1px solid;
  border-image-source: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
  border-image-slice: 2;
  box-sizing: border-box;
}
.sectionWrapper {
  max-width: 1096px;
  margin: auto;
}
.cartTitle {
  margin-left: 120px;
  a {
    display: flex;
    align-items: center;
    margin-left: 35px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #ffffff;
    span {
      font-size: 16px;
    }
    svg {
      font-size: 16px;
    }
  }
}