.sectionCarousel {
  width: 100%;
  padding: 50px 0;
}

.active{
  border-bottom: 1px solid transparent;
  border-image-source: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
  border-image-slice: 2;
}