.title{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    h2{
        text-transform: uppercase;
    }
    @media screen and (max-width: 420px) {
        padding-left: 15px;
    }
}

.titleStroke {
    width: 33px;
    height: 4px;
    background: #618967;
    transform: rotate(90deg);
}