.descriptionSection {
  width: 100%;
  padding: 90px 0 50px;
  border: 1px solid;
  border-image-source: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
  border-image-slice: 2;
  @media screen and (max-width: 980px) {
    padding: 13px 0 50px;
  }
}
.descWrapper {
  max-width: 1210px;
  margin: auto;
}

.buyWithSection {
  margin-top: 50px;
}

.buyWithBlock {
  display: flex;
}