@import "../../assets/scss/vars.scss";

.header {
  width: 100%;
  min-height: 99px;
  background-color: rgba(64, 60, 59, 1);
  @media screen and (max-width: 980px){
    position: sticky;
    z-index: 100;
    top: 0;
  }
}

.headerContainer{
  width: 100%;
  height: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 98px;
  padding-right: 70px;
  box-sizing: border-box;
  @media screen and (max-width: 980px){
    display: none;
  }
}
.inputForm {
  width: 555px;
  height: 52px;
  display: flex;
  align-items: center;
  padding: 14px;
  background-color: rgba(80, 75, 74, 1);
  border-radius: 10px;
  @media screen and (max-width: 980px){
    width: 100%;
    margin-top: 9px;
  }
}
.contact{
  display: flex;
  align-items: center;
}
.logo{
  font-family: $GilroyBold;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.15em;
}
.inputSearch {
  color: #fff;
  padding: 0 14px;
  font-size: 18px;
  flex: 1
}
.avatar {
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
}
.textItem {
  span{
    color: #cfcfcf;
  }
  p{
    color: #ffffff
  }
}

//Mobile header
.containerMobile {
  max-width: 900px;
  height: 100%;
  padding: 12px 15px 13px;
  background-color: rgba(64, 60, 59, 1);
  @media screen and (min-width: 981px){
    display: none;
  }
}
.mobileMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .hamburger {
    max-width: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
      width: 25px;
      height: 3px;
      background: #65906C;
      border-radius: 50px;
      margin-bottom: 3px;
      &:last-child{
        margin-bottom: 5px;
      }
    }
    p{
      margin: 0;
      font-family: $GilroyBold;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}
.hide {
  display: none;
}

.mobileNavbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  background-color: rgba(64, 60, 59, 1);
  animation: fade-in .2s ease-in;
}

.mobileNavHeader {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .closeMenu {
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #72A479;
    border-radius: 50%;
  }
}

.mobileNavLinks {
  width: 100%;
  padding: 0;
  margin-top: 30px;
  li{
    width: 100%;
    display: block;
    padding: 10px 20px;
    border-bottom: 1px dotted #72A479;
    a{
      display: block;
      width: 100%;
      text-decoration: none;
      font-size: 18px;
      color: #ffffff;
    }
    &:first-child {
      border-top: 1px dotted #72A479;
    }
    &:active {
      background-color: #ffffff;
      a {
        color: #72A479;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}